@model List<MobileMekaniko_Final.Models.Dto.QuotationListDto>

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"];
    </div>
}

<h4 class="text-center fw-bold mt-5 mb-5">QUOTATIONS</h4>

<div class="d-flex justify-content-end align-items-center mb-5">
    <form method="get" asp-controller="Quotation" asp-action="FilteredQuotationsByRego" class="d-flex">
        <input type="text" name="rego" placeholder="Search Rego #" />
        <button type="Submit" class="btn btn-primary ms-1 btn-sm">
            <i class="bi bi-search"></i>
        </button>
    </form>

    <div class="dropdown ms-1">
        <button class="btn btn-secondary invoice-status-filter btn-sm dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-funnel"></i>
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>

        @*Filter button*@
        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
            <li>
                <form method="get" asp-action="FilteredUnsentEmails" asp-controller="Quotation" class="mb-0">
                    <input type="hidden" name="status" value="unknown" />
                    <button type="submit" class="dropdown-item">
                        Unsent Email
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">ID</t>
            <th class="text-center">Issue</th>
            <th class="text-center">Name</th>
            <th class="text-center">Rego #</th>
            <th class="text-center">Date</th>
            <th class="text-center">Total</th>
            <th class="text-center">Sent</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td class="text-center" colspan="8">No Quotes Data Yet</td>
            </tr>
        }
        else
        {
            @foreach(var quote in Model)
            {
                <tr>
                    <td class="text-center">
                        <a href="#" class="btnUpdateQuotation" data-quotation-id="@quote.QuotationId" data-action="UpdateQuotation">@quote.QuotationId</a>
                    </td>
                    <td class="text-center">@quote.IssueName</td>
                    <td class="text-center">@quote.CustomerName</td>
                    <td class="text-center">@quote.CarRego</td>
                    <td class="text-center">@(quote.DateAdded.ToString("MM/dd/yyyy"))</td>
                    <td class="text-center">@quote.TotalAmount</td>
                    <td class="text-center">
                        @if(quote.IsEmailSent == true)
                        {
                            <i class="bi bi-check2"></i>
                        }
                    </td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="actionDropdown_@quote.QuotationId" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="actionDropdown_@quote.QuotationId">
                                <li>
                                    <button class="dropdown-item view-pdf" data-quotation-id="@quote.QuotationId">
                                        <i class="bi bi-file-pdf"></i> View PDF
                                    </button>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item download-pdf" data-quotation-id="@quote.QuotationId">
                                        <i class="bi bi-download"></i> Download PDF
                                    </a>
                                </li>
                                <li>
                                    <button class="dropdown-item send-quotation-email" data-quotation-id="@quote.QuotationId">
                                        <i class="bi bi-envelope-paper"></i> Send Email
                                    </button>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item delete-quotation-btn"
                                       data-quotation-id="@quote.QuotationId" data-action="DeleteQuotation">
                                        <i class="bi bi-trash3-fill"></i> Delete Quote
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<partial name="_CarQuotationModal" model="new MobileMekaniko_Final.Models.Dto.QuotationDetailsDto()" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/carquotation.js"></script>