@model MobileMekaniko_Final.Models.Dto.DashboardDto

@if(ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<h4 class="fw-bold mb-5 mt-5">DASHBOARD</h4>

@*Total numbers of customer, cars, invoices, quotations*@
<div class="customer-car-invoice-count d-flex">
    <div class="customer-count-box d-flex justify-content-center align-items-center">
        <div class="customer-count-left">
            <i class="bi bi-people-fill"></i>
        </div>
        <div class="customer-count-right ms-5">
            <h5 class="mb-0">Customers</h5>
            <h4 class="mb-0">@Model.TotalCustomers</h4>
        </div>
    </div>
    <div class="car-count-box d-flex justify-content-center align-items-center">
        <div class="car-count-left">
            <i class="bi bi-car-front"></i>
        </div>
        <div class="car-count-right ms-5">
            <h5 class="mb-0">Cars</h5>
            <h4 class="mb-0">@Model.TotalCars</h4>
        </div>
    </div>
    <div class="invoice-count-box d-flex justify-content-center align-items-center">
        <div class="invoice-count-left">
            <i class="bi bi-receipt-cutoff"></i>
        </div>
        <div class="invoice-count-right ms-5">
            <h5 class="mb-0">Invoices</h5>
            <h4 class="mb-0">@Model.TotalInvoices</h4>
        </div>
    </div>
    <div class="quotation-count-box d-flex justify-content-center align-items-center">
        <div class="quotation-count-left">
            <i class="bi bi-receipt"></i>
        </div>
        <div class="quotation-count-right ms-5">
            <h5 class="mb-0">Quotations</h5>
            <h4 class="mb-0">@Model.TotalQuotations</h4>
        </div>
    </div>
</div>



<div class="financial-overviews d-flex justify-content-between align-items-start container">
    <!-- PIE CHART (40%) -->
    <div class="row mt-5" style="flex: 0 0 40%;">
        <div class="col-md-12">
            <h4 class="mb-4">Financial Overview</h4>
            <div>
                <canvas id="financialOverviewChart"></canvas>
            </div>
        </div>
    </div>

    <!-- BAR CHART (60%) -->
    <div class="row mt-5" style="flex: 0 0 60%;">
        <div class="col-md-12">
            <h4 class="mb-3">Monthly Financial Overview</h4>
            <div style="height: 400px;">
                <canvas id="monthlyFinancialOverviewChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/js/dashboard.js"></script>