@model MobileMekaniko_Final.Models.Dto.CustomerDto

<h4 class="fw-bold">CUSTOMER DETAILS</h4>

<div class="customer-details mt-5">
    <p>Customer ID: <span class="fw-bold">@Model.CustomerId</span></p>
    <p>Customer Name: <span class="fw-bold">@Model.CustomerName</span></p>
    <p>Email Address: <span class="fw-bold">@Model.CustomerEmail</span></p>
    <p>Contact #: <span class="fw-bold">@Model.CustomerNumber</span></p>
</div>


<div class="d-flex justify-content-between align-items-center mt-5">
    <h4>Car List</h4>
    <button class="btn btn-primary" id="btnAddCar" data-car-id="0" data-action="AddCar" data-customer-id="@Model.CustomerId"><i class="bi bi-plus-lg"></i> Cars</button>
</div>  


<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Rego #</th>
            <th class="text-center">Make</th>
            <th class="text-center">Model</th>
            <th class="text-center">Year</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody id="tblCustomerCarBody">
        @if (!Model.CarDto.Any())
        {
            <tr>
                <td colspan="6" class="text-center">No cars available for this customer</td>
            </tr>
        }
        else{
            @foreach(var car in Model.CarDto)
            {
                <tr>
                    <td class="text-center">
                        <a href="#" class="btnUpdateCar" data-car-id="@car.CarId" data-action="UpdateCar">@car.CarId</a>
                    </td>
                    <td class="text-center">@car.CarRego</td>
                    <td class="text-center">
                        @foreach(var make in car.MakeDto)
                        {
                            <span>@make.MakeName</span>
                        }
                    </td>
                    <td class="text-center">@car.CarModel</td>
                    <td class="text-center">@car.CarYear</td>
                    <td class="text-center" style="width:250px;">
                        <a class="btn btn-primary btn-sm" asp-route-id="@car.CarId" asp-controller="Car" asp-action="GetCarInvoiceSummary"><i class="bi bi-plus-lg"></i> Invoice</a>
                        <a class="btn btn-warning btn-sm" asp-route-id="@car.CarId" asp-controller="Quotation" asp-action="GetCarQuotation"><i class="bi bi-plus-lg"></i> Quote</a>
                        <a class="btn btn-secondary btn-sm btnDeleteCar" data-car-id="@car.CarId" data-action="DeleteCar"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<partial name="_CustomerCarModal" model="new MobileMekaniko_Final.Models.Dto.CarDetailsDto{CarRego = string.Empty}">

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/customercar.js"></script>