@model List<MobileMekaniko_Final.Models.Dto.InvoiceListDto>

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h5 class="text-center fw-bold mt-5">INVOICES</h5>

<div class="d-flex justify-content-end align-items-center mt-5 mb-5">
    <form method="get" asp-controller="Invoice" asp-action="SearchInvoiceByRego" class="d-flex">
        <input type="text" name="rego" placeholder="Search Rego #" />
        <button type="submit" class="btn btn-sm btn-primary ms-1">
            <i class="bi bi-search"></i>
        </button>
    </form>

    <div class="dropdown ms-1">
        <button class="btn btn-secondary invoice-status-filter btn-sm dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-funnel"></i>
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>

        @*Filter button*@
        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
            <li>
                <form method="get" asp-controller="Invoice" asp-action="GetPaidInvoices" class="mb-0">
                    <input type="hidden" name="status" value="Paid" />
                    <button type="submit" class="dropdown-item">
                        Paid
                    </button>
                </form>
            </li>
            <li>
                <form method="get" asp-action="GetUnpaidInvoices" asp-controller="Invoice" class="mb-0">
                    <input type="hidden" name="status" value="Not Paid" />
                    <button type="submit" class="dropdown-item">
                        Not Paid
                    </button>
                </form>
            </li>
            <li>
                <form method="get" asp-action="GetUnsentEmail" asp-controller="Invoice" class="mb-0">
                    <input type="hidden" name="status" value="unknown" />
                    <button type="submit" class="dropdown-item">
                        Unsent Email
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>

       

<table class="table table-striped mt-5 container">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Status</th>
            <th class="text-center">Issue</th>
            <th class="text-center">Name</th>
            <th class="text-center">Rego #</th>
            <th class="text-center">Due Date</th>
            <th class="text-center">Total</th>
            <th class="text-center">Sent</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td class="text-center" colspan="10">No Invoices Available</td>
            </tr>
        }
        else{
            @foreach(var invoice in Model)
            {
                <tr>
                    <td class="text-center">
                        <a href="#" class="btnUpdateInvoice" data-invoice-id="@invoice.InvoiceId" data-action="UpdateInvoice">@invoice.InvoiceId</a>
                    </td>
                    <td class="text-center">@((bool)invoice.IsPaid ? "Paid" : "Not Paid")</td>
                    <td class="text-center">@invoice.IssueName</td>
                    <td class="text-center">@invoice.CustomerName</td>
                    <td class="text-center">@invoice.CarRego</td>
                    <td class="text-center">@(invoice.DueDate?.ToString("MM/dd/yyyy"))</td>
                    <td class="text-center">@invoice.TotalAmount</td>
                    <td class="text-center">
                        @if (invoice.IsEmailSent == true)
                        {
                            <i class="bi bi-check2"></i>
                        }
                    </td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="actionDropdown_@invoice.InvoiceId" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="actionDropdown_@invoice.InvoiceId">
                                <li>
                                    <button class="dropdown-item mark-as-paid" data-invoice-id="@invoice.InvoiceId">
                                        <i class="bi bi-check-lg"></i> Mark as Paid
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item view-pdf" data-invoice-id="@invoice.InvoiceId">
                                        <i class="bi bi-file-pdf"></i> View PDF
                                    </button>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item download-pdf" data-invoice-id="@invoice.InvoiceId">
                                        <i class="bi bi-download"></i> Download PDF
                                    </a>
                                </li>
                                <li>
                                    <button class="dropdown-item send-invoice-email" data-invoice-id="@invoice.InvoiceId">
                                        <i class="bi bi-envelope-paper"></i> Send Email
                                    </button>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item delete-invoice-btn"
                                       data-invoice-id="@invoice.InvoiceId" data-action="deleteInvoice">
                                        <i class="bi bi-trash3-fill"></i> Delete Invoice
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<partial name="_CarInvoiceModals" model="new MobileMekaniko_Final.Models.Dto.InvoiceDetailsDto()" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/carinvoice.js"></script>