@model MobileMekaniko_Final.Models.Dto.MakeDetailsDto

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if(TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["InvalidDataMessage"] != null)
{
    <div class="alert alert-warning">
        @TempData["InvalidDataMessage"]
    </div>
}


@if (TempData["DeleteMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["DeleteMessage"]
    </div>
}

@if (TempData["MakeExists"] != null)
{
    <div class="alert alert-danger">
        @TempData["MakeExists"]
    </div>
}

<div class="forms-container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="left">
        <h3>Add Make</h3>
        <form method="post" asp-controller="Make" asp-action="AddMake">
            <div class="form-group">
                <input asp-for="MakeName" class="form-control" placeholder="Make Name" />
                <span asp-validation-for="MakeName" class="text-danger"></span>
            </div>

            <!-- This will display the error message if a duplicate MakeName exists -->
            <div class="form-group text-danger">
                @if (ViewData.ModelState.ErrorCount > 0)
                {
                    <p>@ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage</p>
                }
            </div>

            <div class="text-end mt-2">
                <button type="submit" class="btn btn-primary form-control">Add</button>
            </div>

        </form>
    </div>
    <div class="right" style="margin-left: 200px;">
        <h3>Delete Car Make</h3>
        <form method="post" asp-controller="Make" asp-action="DeleteMake">
            <div class="form-group">
                <select name="id" asp-items="ViewBag.Makes" class="form-control">
                    <option value="" class="text-center">-- Select Make --</option>
                </select>
                <span asp-validation-for="MakeId"></span>
            </div>

            <div class="text-end mt-2">
                <button type="submit" class="btn btn-danger form-control">Remove</button>
            </div>
        </form>
    </div>

</div>