@model MobileMekaniko_Final.Models.Dto.CarInvoiceSummaryDto

<div class="customer-car-container  align-items-center mt-5">

<h4 class="fw-bold mb-5">CUSTOMER DETAILS</h4>
    <div class="d-flex justify-content-between">
            <div class="car-invoice-left">
                <p>Customer ID: <b>@Model.CustomerId</b></p>
                <p>Customer Name: <b>@Model.CustomerName</b></p>
                <p>Email Address: <b>@Model.CustomerEmail</b></p>
                <p>Contact #: <b>@Model.CustomerNumber</b></p>
            </div>
            <div class="car-invoice-right" style="margin-left: 100px;">
                <p>Car ID: <b>@Model.CarId</b></p>
                <p>Rego #: <b>@Model.CarRego</b></p>
                <p>Make: <b>@Model.MakeName</b></p>
                <p>Model: <b>@Model.CarModel</b></p>
                <p>Year: <b>@Model.CarYear</b></p>
            </div>
    </div>
</div>

<div class="text-end mt-5">
    <button class="btn btn-warning btnAddInvoice" data-car-id="@Model.CarId" ><i class="bi bi-plus-square-fill"></i> Invoice</button>
</div>

<h5 class="fw-bold mt-5">TRANSACTIONS</h5>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">Invoice ID</th>
            <th class="text-center">Issue</th>
            <th class="text-center">Date Issued</th>
            <th class="text-center">Due Date</th>
            <th class="text-center">Total Amount</th>
            <th class="text-center">Amount Paid</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Invoices.Any())
        {
            <tr>
                <td class="text-center" colspan="8">No Invoice Available</td>
            </tr>
        }
        else
        {
            @foreach (var invoice in Model.Invoices)
            {
                <tr>
                    <td class="text-center">
                        <a href="#" class="btnUpdateInvoice" data-invoice-id="@invoice.InvoiceId" data-action="UpdateInvoice">@invoice.InvoiceId</a>
                    </td>
                    <td class="text-center">@invoice.IssueName</td>
                    <td class="text-center">@(invoice.DateAdded?.ToString("MM/dd/yyy"))</td>
                    <td class="text-center">@(invoice.DueDate?.ToString("MM/dd/yyy"))</td>
                    <td class="text-center">@invoice.TotalAmount</td>
                    <td class="text-center">@invoice.AmountPaid</td>
                    <td class="text-center">
                        @if (invoice.isPaid == false)
                                {
                                    <p class="payment-status-not-paid">Not Paid</p>
                                }
                                else
                                {
                                    <p class="payment-status-paid">Paid</p>
                                }
                    </td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="actionDropdown_@invoice.InvoiceId" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="actionDropdown_@invoice.InvoiceId">
                                <li>
                                    <button class="dropdown-item mark-as-paid" data-invoice-id="@invoice.InvoiceId">
                                        <i class="bi bi-check-lg"></i> Mark as Paid
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item view-pdf" data-invoice-id="@invoice.InvoiceId">
                                        <i class="bi bi-file-pdf"></i> View PDF
                                    </button>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item download-pdf" data-invoice-id="@invoice.InvoiceId">
                                        <i class="bi bi-download"></i> Download PDF
                                    </a>
                                </li>
                                <li>
                                    <button class="dropdown-item send-invoice-email" data-invoice-id="@invoice.InvoiceId">
                                        <i class="bi bi-envelope-paper"></i> Send Email
                                    </button>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item delete-invoice-btn"
                                       data-invoice-id="@invoice.InvoiceId" data-action="deleteInvoice">
                                        <i class="bi bi-trash3-fill"></i> Delete Invoice
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
       
    </tbody>
</table>

<partial name="_CarInvoiceModals" model="new MobileMekaniko_Final.Models.Dto.InvoiceDetailsDto()" />


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/carinvoice.js"></script>